/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'get_schwiftyregular';
  src: url('font/get_schwifty-webfont.woff2') format('woff2'),
       url('font/get_schwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html { height: 100%;
background-image: url("http://localhost:8080/icones/Back1.png");
background-color: black;
background-size: cover;
background-repeat: no-repeat; }
body { margin: 0; font-family: 'get_schwiftyregular'; }

/*Les boutons des produits*/
.bouton{
  background: #f0e14a;
  border:solid #7c3e1d;
  height: 40px;
  width: 140px;
  font:20px 'get_schwiftyregular' ;
  color: #02cee9;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

/*Le bouton pour afficher les managers*/
.boutonM{
  background-image: url("http://localhost:8080/icones/bouton.png");
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  height: 75px;
  width: 150px;
  font: 2em 'get_schwiftyregular';
  color: #00b0c8;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
mat-progress-bar .mat-progress-bar-buffer {
    background: #f0e14a;

  }
  
mat-progress-bar .mat-progress-bar-fill::after{
    background: #7c3e1d;
}

