<div class="header">
  <div class="idjoueur"> Pseudo:
    <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()" />
  </div>
  <div class="money"> <span id="worldname"> Pickle Rick: {{world.money| number:"1.2-2"}} <img
        style="height: 30px;position: relative; bottom:-8px" class="picklerick"
        src="http://localhost:8080/icones/picklerick.png" alt="Pickle Rick"></span> </div>
  <div> multiplicateur : <button class="bouton" (click)="cycle()">{{qtmulti}}</button> </div>

</div>
<div class="main">
  <div class="left">
    <span><img [attr.src]="server+world?.logo" class="worldlogo" /> </span>
    <br>
    <button class="boutonM" color="primary" [matBadge]="badgeManagers" [matBadgeHidden]="badgeManagers==0"
      (click)="showManagers = !showManagers">Managers</button>
    <br>
    <button class="boutonM" color="primary" (click)="showUnlocks = !showUnlocks">Unlocks</button>
    <br>
    <button class="boutonM" color="primary" [matBadge]="badgeUpgrades" [matBadgeHidden]="badgeUpgrades==0"
      (click)="showUpgrades = !showUpgrades">Upgrades</button>
    <br>
    <button class="boutonM" color="primary" [matBadge]="badgeAngels" [matBadgeHidden]="badgeAngels==0"
      (click)="showAngels = !showAngels">Investors</button>
  </div>
  <div class="product">
    <div *ngFor="let product of world.products.product">
      <app-product [prod]="product" class="product produit col-md-6" (notifyProduction)="onProductionDone($event)"
        (notifyPurchase)="onPurchaseDone($event)" [qtmulti]="qtmulti" [money]="world.money"></app-product>
    </div>
  </div>
</div>
<div *ngIf="showManagers" class="modal">
  <div class="titleM">
    <p>Managers make you feel better !</p>
  </div>
  <div class="managerstable">
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
        <div>
          <div><img class="round" [attr.src]="server+manager.logo" /> </div>
          <div class="managername"> {{ manager.name}} </div>
          <div class="managercible"> {{ world.products.product[manager.idcible-1].name}}
            <div class="managercost"> Prix: {{ manager.seuil| number}} <img
                style="height: 30px; position: relative; bottom:-8px" class="picklerick"
                src="http://localhost:8080/icones/picklerick.png" alt="Pickle Rick"></div>
          </div>
          <div>
            <div class="hirebutton" (click)="hireManager(manager)"
              [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Engager</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="closebutton" mat-raised- button color="primary" (click)="showManagers = !showManagers">Close</button>
</div>
<div *ngIf="showUnlocks" class="modalUnlock">
  <div class="titleM">
    <p>Next Unlocks !</p>
  </div>
  <div class="managerstable">
    <div *ngFor="let produit of world.products.product">
      <div *ngFor="let unlock of produit.palliers.pallier">
        <div *ngIf="!unlock.unlocked">
          <div class="managerslayout">
            <div><img class="roundUnlock" [attr.src]="server + unlock.logo" /></div>
            <div>
              <div class="managername">{{ unlock.name }}</div>
              <div class="managercible">Seuil : {{ unlock.seuil }}
                <div class="managercost">{{ world.products.product[unlock.idcible - 1].name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let pallier of world.allunlocks.pallier">
      <div *ngIf="!pallier.unlocked">
        <div class="managerslayout">
          <div><img class="round" [attr.src]="server+pallier.logo" /></div>
          <div>
            <div class="managername">{{ pallier.name }}</div>
            <div class="managercible">Seuil : {{ pallier.seuil }}
              <div class="managercost">Tous les produits</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="closebutton" mat-raised- button color="primary" (click)="showUnlocks= !showUnlocks">Close</button>
</div>
<div *ngIf="showUpgrades" class="modal">
  <div class="titleM">
    <p>Purchase Upgrades !</p>
  </div>
  <div class="managerstable">
    <div *ngFor="let pallier of world.upgrades.pallier">
      <div *ngIf="!pallier.unlocked" class="managerslayout">
        <div>
          <div><img class="round" [attr.src]="server+pallier.logo" /> </div>
          <div class="managername"> {{ pallier.name}} </div>
          <div *ngIf="pallier.idcible === 0;else elseBlock" class="managercible">Tous les produits
            <div class="managercost"> Prix: {{ pallier.seuil| number}} <img
                style="height: 30px; position: relative; bottom:-8px" class="picklerick"
                src="http://localhost:8080/icones/picklerick.png" alt="Pickle Rick"></div>
          </div>
          <ng-template #elseBlock>
            <div class="managercible">{{ world.products.product[pallier.idcible - 1].name }}
              <div class="managercost"> Prix: {{ pallier.seuil| number}} <img
                  style="height: 30px; position: relative; bottom:-8px" class="picklerick"
                  src="http://localhost:8080/icones/picklerick.png" alt="Pickle Rick"></div>
            </div>
          </ng-template>
        </div>
        <div>
          <div class="hirebutton" (click)="purchaseUpgrade(pallier)"
            [ngClass]="{'selectable' : (world.money >= pallier.seuil)}">Acheter</div>
        </div>
      </div>
    </div>
  </div>
  <button class="closebutton" mat-raised- button color="primary" (click)="showUpgrades = !showUpgrades">Close</button>
</div>
<div *ngIf="showAngels" class="modal">
  <div class="titleM">
    <p>Investir dans les Anges !</p>
  </div>
  <div class="managerstable">
    <div class="totalangels">
      <div> Total Anges : {{world.totalangels}} </div>
      <div> 2% de bonus par Ange </div>
    </div>
    <div class="totalangels">
      <div>
        <div class="boutonReset" >{{world.activeangels| number:"1.2-2"}} Anges a recuperer en recommencant</div>
      </div>
    </div>
    <div *ngFor="let pallier of world.angelupgrades.pallier">
      <div *ngIf="!pallier.unlocked" class="managerslayout">
        <div>
          <div><img class="round" [attr.src]="server+pallier.logo" /> </div>
          <div class="managername"> {{ pallier.name}} </div>
          <div class="managercible">Tous les produits
            <div class="managercost"> Prix: {{ pallier.seuil| number}} <img
                style="height: 30px; position: relative; bottom:-8px" class="picklerick"
                src="http://localhost:8080/icones/picklerick.png" alt="Pickle Rick"></div>
          </div>
        </div>
        <div>
          <div class="hirebutton" (click)="purchaseUpgrade(pallier)"
            [ngClass]="{'selectable' : (world.money >= pallier.seuil)}">Purchase</div>
        </div>
      </div>
    </div>
  </div>
  <button class="closebutton" mat-raised- button color="primary" (click)="showAngels = !showAngels">Close</button>
</div>