<div class="header">
  <div>
    <span [innerHTML]="world.money | bigvalue"> </span>
    <button (click)="cycle()">{{qtmulti}}</button>
  </div>
  <div> <span id="worldname"> argent : {{world.money}} </span> </div>
  <div> multiplicateur </div>
  <div> ID du joueur </div>
</div>
<div class="main">
  <div class="left">
    <span><img [attr.src]="server+world?.logo" class="worldlogo" /> </span>
    <br>
    <span id="worldname"> {{world?.name}} </span>
    <p>liste des boutons de menu</p>
    
  </div>
  <div class="product">
    <div *ngFor="let product of world.products.product">
      <app-product [prod]="product" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money"></app-product>
    </div>
  </div>
</div>