.round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
.progressbar{
  height: 30px;
  width: 100px;
  margin: 5px 5px 5px 5px;
}
.imagebar{
  margin-left: auto;
  margin-right: auto;
  position: relative;

}
.lesecond {
  position: absolute;
  left:-5px;
  bottom: -20px;
 }
 .letroisieme {
  position: absolute;
  left:50px;
  bottom: -20px;
 }
 .textedroite {
  background-color: #6c9337;
  border: 3px solid #926f44;
  width:  150px;
  height: 70px;
  position: absolute;
  left:120px;
  bottom: 10px;
 }